{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-5">
            <h1>Create Event</h1>
            <form method="post" enctype="multipart/form-data">  <!-- Added enctype attribute -->
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.description.label(class="form-label") }}
                    {{ form.description(class="form-control", rows=5) }}
                </div>
                <div class="mb-3">
                    {{ form.location.label(class="form-label") }}
                    {{ form.location(id="location", class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.date.label(class="form-label") }}
                    <input type="date" name="date" value="{{ form.date.data }}" class="form-control">
                </div>
                <div class="mb-3">
                    {{ form.time.label(class="form-label") }}
                    <input type="time" name="time" value="{{ form.time.data }}" class="form-control">
                </div>
                <!-- Added Image Upload Field -->
                <div class="mb-3">
                    {{ form.image.label(class="form-label") }}
                    {{ form.image() }}
                </div>
                <!-- End of Image Upload Field -->
                <div class="mb-3" style="margin-top: 15px">
                    {{ form.submit(class="btn btn-info") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
