{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Edit Event</h1>
  <form method="post" enctype="multipart/form-data" class="mt-4">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.description.label }}
      {{ form.description(class="form-control", rows=5) }}
    </div>

    <div class="form-group">
      {{ form.location.label }}
      {{ form.location(class="form-control") }}
    </div>
<div class="row">
    <div class="form-group col-md-6">
      {{ form.date.label }}
      {{ form.date(class="form-control") }}
    </div>

    <div class="form-group col-md-6">
      {{ form.time.label }}
      {{ form.time(class="form-control") }}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-1">
      {{ form.max_attendees.label }}
      {{ form.max_attendees(class="form-control") }}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
      {{ form.image.label }}
      <input type="file" name="image" accept="image/*" class="form-control">
    </div>
</div>
    <button type="submit" class="btn btn-default">Update Event</button>
  </form>
</div>
{% endblock %}
