{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>{{ event.name }}</h2>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Event Details</h4>
                    <p class="card-text">{{ event.description }}</p>
                    <p class="card-text"><medium class="text-muted">Location: {{ event.location }}</small></p>
                    <p class="card-text"><medium class="text-muted">Date and Time: {{ event.event_datetime }}</small></p>
                    <p class="card-text"><medium class="text-muted">Timestamp: {{ event.timestamp }}</small></p>

                    <!-- RSVP button -->
                    <form method="post" action="{{ url_for('rsvp', event_id=event.id) }}">
                        <button type="submit" class="btn btn-info">RSVP</button>
                    </form>
                    
                    <!-- Display RSVP Success or Failure Messages -->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="row">
                            <div class="alert alert-success mt-2">
                                {{ messages[0] }}
                            </div>
                        </div>
                        {% endif %}
                    {% endwith %}

                    <!-- List of RSVPs -->
                    <h5 class="mt-4">List of RSVPs</h5>
                    <ul class="list-group">
                        {% for rsvp in event.rsvps %}
                            {% if rsvp.status == "Accepted" %}
                                <li class="list-group-item">{{ rsvp.user.username }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title">{{ event.user.username }}</h3>
                    <td width="256px">
                      <img src="{{ event.user.avatar(128) }}" style="border-radius: 50%;">
                    </td>

                    <!-- Show RSVPs for event owner -->
                    {% if event.user.id == current_user.id %}
                    <h5 class="mt-3">Pending RSVPs</h5>
                    <ul class="list-group">
                        {% for rsvp in event.rsvps %}
                            {% if rsvp.status != "Accepted" %}
                            <li class="list-group-item">
                                {{ rsvp.user.username }}
                                <a href="{{ url_for('rsvp_approval', rsvp_id=rsvp.id, status='Accepted') }}" class="btn btn-success btn-sm">Accept</a>
                                <a href="{{ url_for('rsvp_removal', rsvp_id=rsvp.id) }}" class="btn btn-danger btn-sm">Remove</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
