{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>{{ event.name }}</h2>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Event Details</h4>
                    <p class="card-text">{{ event.description }}</p>
                    <p class="card-text"><medium class="text-muted">Location: {{ event.location }}</small></p>
                    <p class="card-text"><medium class="text-muted">Date: {{ event.date }}</small></p>
                        <p class="card-text"><medium class="text-muted">Time: {{ event.time }}</small></p>

                    <!-- RSVP button -->
                    <form method="post" action="{{ url_for('rsvp', event_id=event.id) }}">
                        <button type="submit" class="btn btn-default">RSVP</button>
                    </form>
                    
                    <!-- Display RSVP Success or Failure Messages -->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-info mt-2" style="width: 57.66%; font-size: 15px;">
                                {{ messages[0] }}
                            </div>
                        {% endif %}
                    {% endwith %}

                    <!-- List of RSVPs -->
                    <h5 class="mt-4">List of RSVPs</h5>
                    <ul class="list-group">
                        {% for rsvp in event.rsvps %}
                            {% if rsvp.status == "Accepted" %}
                                <li class="list-group-item col-md-8" style="position: relative;">
                                    <!-- Make username clickable -->
                                    <a href="{{ url_for('user', username=rsvp.user.username) }}" class="link">
                                        {{ rsvp.user.username }}
                                    </a>
                                    
                                    <!-- Show "Remove" button only for event owner -->
                                    {% if event.user.id == current_user.id %}
                                        <a href="{{ url_for('rsvp_removal', rsvp_id=rsvp.id) }}" class="btn btn-warning btn-sm" style="position: absolute; right: 0; top: 50%; transform: translateY(-50%); margin-right: 6px; background-color: #fc9289; border-color: #CA756E;">Remove</a>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="background-color: #8eb6ff; height: 90%;">

            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title" style="color: #fafafa">{{ event.user.username }}</h3>
                    <td width="256px">
                      <img src="{{ event.user.avatar(128) }}" style="border-radius: 50%;">
                    </td>

                    <!-- Show RSVPs for event owner -->
                    {% if event.user.id == current_user.id %}
                        <h4 class="mt-3" style="color: #fafafa; margin-top:20px">Pending RSVPs</h4>
                        <ul class="list-group">
                        {% for rsvp in event.rsvps %}
                            {% if rsvp.status != "Accepted" %}
                                {% set rsvp_found = true %}
                                <li class="list-group-item" style="margin-top: 5px;">
                                    <!-- Make username clickable -->
                                    <a href="{{ url_for('user', username=rsvp.user.username) }}" class="link" style="color:black; margin-right:5px;">
                                        {{ rsvp.user.username }}
                                    </a>
                                    <a href="{{ url_for('rsvp_approval', rsvp_id=rsvp.id, status='Accepted') }}" class="btn btn-info btn-sm">Accept</a>
                                    <a href="{{ url_for('rsvp_removal', rsvp_id=rsvp.id) }}" class="btn btn-warning btn-sm" style="background-color: #fc9289; border-color: #CA756E;">Remove</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
