{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4" style="margin-bottom: 40px;">Explore Events</h1>
    <div class="row">
        <div class="col-12">
            {% for event in upcoming_events %}
            <a href="{{ url_for('event_detail', event_id=event.id) }}" style="color: black;">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="row mt-10">
                        <div class="col-md-4">
                            {% if event.image_url %}
                            <img src="{{ event.image_url }}" class="card-img" alt="{{ event.name }}" style="height: 180px; width: 100%; object-fit: cover;">
                            {% else %}
                            <!-- Placeholder image -->
                            <img src="https://via.placeholder.com/320x180" class="card-img" alt="Placeholder" style="height: 180px; width: 100%; object-fit: cover;">
                            {% endif %}

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ event.name }}</h5>
                                <p class="card-text">{{ event.description[:300] }}{% if event.description|length > 300 %}...{% endif %}</p>
                                <p class="card-text"><small class="text-muted">{{ event.event_datetime.strftime('This event will happen at: %d-%m-%Y %H:%M') }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
