{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
<style>
    /* Your custom CSS here */
    a.navbar-brand, a.navbar-brand * {
        color: white !important;
    }
</style>
{% endblock %}


{% block app_content %}
<div class="row" style="padding-top: 80px;">
    <div class="col-md-12">
        <h1 class="title-color text-center">welcome to</h1>
        <h1 class="title-color text-center">open discourse</h1>
    </div>
</div>
<div class="row" style="padding-top: 80px;">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="background-color: #fafafa;">
        <h3 class="subtitle-color text-center" style="font-size: 40px;">a platform for the commons to meet:</h3>
        <h3 class="subtitle-color text-center" style="font-size: 40px;">
            <a style="color:#6986bd; margin-left: 0em;" class="subtitlea" href="/explore">attend</a> 
            or 
            <a class="subtitlea" style="color:#6986bd; margin-left: 0em;" href="/login">host</a> 
            a salon and 
            <a style="color:#6986bd; margin-left: 0em;" class="subtitlea" href="https://discord.gg/9JkAesRaHM">join</a> 
            our community
</h3>

    </div>
</div>

<svg preserveAspectRatio="xMidYMid slice" viewBox="10 10 80 80" style="z-index: -99;">
  <path fill="#f7cac9" class="out-top" d="M37-5C25-15,6-19,-9-10C-28,2-33,31-20,49C15,71,52,72,67,53C58,35,54,9,37-5Z"/>
  <path fill="#92a8d1" class="in-top" d="M21,4C12,1,-2,3-8,11C-16,23,-8,46,7,50S42,39,41,25C40,14,29,7,21,4Z"/>
  <path fill="#f4e1d2" class="out-bottom" d="M106,49c-12-8-29-5-39,1C44,63,30,102,49,124s64,15,76-6c8-13,2-31-2-44C118,63,116,54,106,49Z"/>
  <path fill="#d5f4e6" class="in-bottom" d="M102,67c-10-6-22-3-30,2C57,80,42,107,54,118s36,4,45-13C116,93,114,75,102,67Z"/>
</svg>


{% endblock %}
