{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <h1><a href="{{ url_for('create_event') }}" class="btn btn-default btn-lg">New Event</a></h1>
  </div>
  <style>
    .table-hover tbody tr:hover {
      background-color: #f5f5f5;
    }

  </style>

  <script>
    function confirmDelete(eventId) {
      if (confirm("Are you sure you want to delete this event?")) {
        // POST request to delete event
        fetch(`/remove_event/${eventId}`, {
          method: "POST"
        }).then(() => window.location.reload());
      }
    }
  </script>
  <h1 class="my-4">Upcoming Events</h1>
  {% if upcoming_events.items %}
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="col-md-4">Event Name</th>
          <th>Date Created</th>
          <th>Event Date</th>
          <th style="padding-left: 1.5em">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for event in upcoming_events.items %}
        <tr>
          <td>{{ event.name }}</td>
          <td>{{ event.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
          <td>{{ event.date }}</td>
          <td>
            <a href="{{ url_for('event_detail', event_id=event.id) }}" class="btn btn-info">Details</a>
            <a href="{{ url_for('edit_event', event_id=event.id) }}" class="btn btn-danger">Edit</a>
            <a onclick="confirmDelete({{ event.id }})" class="btn btn-warning" style="background-color: #fc9289; border-color: #CA756E;">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
  <p class="text-muted">No upcoming events.</p>
  {% endif %}

  <h1 class="my-4">Past Events</h1>
  {% if past_events.items %}
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="col-md-4">Event Name</th>
          <th>Date Created</th>
          <th>Event Date</th>
          <th style="padding-left: 1.5em">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for event in past_events.items %}
        <tr>
          <td>{{ event.name }}</td>
          <td>{{ event.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
          <td>{{ event.date }}</td>
          <td>
            {% if event.user.id == current_user.id %}
            <a href="{{ url_for('event_detail', event_id=event.id) }}" class="btn btn-info">Details</a>
            <a href="{{ url_for('edit_event', event_id=event.id) }}" class="btn btn-danger">Edit</a>
            <a onclick="confirmDelete({{ event.id }})" class="btn btn-warning" style="background-color: #fc9289; border-color: #CA756E;">Delete</a>
            {% endif %}
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
  <p class="text-muted">No past events.</p>
  {% endif %}
</div>
{% endblock %}
