{% extends "base.html" %}

{% block app_content %}
<div class="row">
    <div class="col-md-2" style="padding-top: 10px">
        <tr">
            <td width="128px"><img src="{{ user.avatar(128) }}" style="border-radius: 50%; margin-top: 20px;"></td>
        </div>
        <div class="col-md-4">
            <td style="padding-left: 40px;">
                <h1>{{ user.username }}</h1>
                {% if user.about_me %}<p style="padding-bottom: 10px;  font-size: 17px; background-color: #fafafa;">{{ user.about_me }}</p>{% endif %}
                {% if user == current_user %}
                    <a class="btn btn-default" href="{{ url_for('edit_profile') }}">Edit your profile</a>
                {% endif %}
            </td>
        </tr>
    </div>

</div>
{% endblock %}
